/* ================== Global reset & styling ======================== */


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #EDEFE6;
    color: #333;
}

/* ================== Home Page ======================== */
.header {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 5%;
}

.left-part h1 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    color: #964651;
    font-size: 3rem;
    margin: 0 0 10px 0;
}

.left-part p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #964651;
    opacity: 0.7;
    letter-spacing: 0.3em;
    font-size: 1.3rem;
    margin: 0;
}

.right-part {
    width: 50%;
    height: 100%;
}

/*  Menu  */

.navmenu {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 100%;
}

.navmenu ul {
    font-family: "Lato", sans-serif;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    font-weight: 700;
    text-align: left;
}

.navmenu ul a {
    color: #964651;
    text-decoration-line: none;

}

/* ================== Projects Page ======================== */

.project-grid {
    display: flex;
}

.project-item {
    background-color: rgb(151, 145, 145);
    margin: 10px;
    width: 200px;
    height: 250px;
}

/* ================== About Page ======================== */

/* ================== Contacts Page ======================== */

/* ================== Media Queries ======================== */
